[Unit]
Description=Bee
Wants=network-online.target
After=network-online.target

[Service]
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bee
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

User=bee
Group=bee
WorkingDirectory=/var/lib/bee/target/release
TimeoutSec=1200
Restart=always
ExecStart=/var/lib/bee/target/release/bee

[Install]
WantedBy=multi-user.target